node_modules/
dist/
build/
.next/
.out/
.nuxt/
.vercel/

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
.pytest_cache/
.ruff_cache/
.tox/

.vscode/
.idea/
.DS_Store
.eslintcache
.prettiercache
.husky/_/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
